python-dotenv # dev only
aiogram==3.20.0
aiohttp==3.11.18
aiofiles==24.1.0
Pillow==11.2.1
numpy==2.0.2
openai>=1.55.3
pydantic>=2.11.0
pydantic-settings>=2.9.0
PyYAML==6.0.2
pytest==8.3.5 # dev only
httpx
rapidfuzz>=3.13.0
psutil==7.0.0
paddlepaddle # для модуля детекции таблиц
paddleocr>=2.6.0.3 # для модуля детекции таблиц
