aiogram>=3.0.0
pydantic-settings
httpx
python-Levenshtein
rapidfuzz==3.13.0
psutil==7.0.0
python-dotenv # dev only
pytest # for testing
pytest-vcr
pytest-asyncio # for testing async code
openai>=1.13 # для OCR и Assistant API
